extends layout

block content
  
    link(rel="stylesheet", href="https://www.w3schools.com/w3css/4/w3.css")

    .w3-bar.w3-pink
      a.w3-bar-item.w3-button.w3-gray(href="/home") Home
      a.w3-bar-item.w3-button(href="/tribunais") Tribunais
      a.w3-bar-item.w3-button(href="/taxonomia") Taxonomia
      a.w3-bar-item.w3-button(href="/favoritos") Favoritos
      a.w3-bar-item.w3-button(href="/perfil") Perfil
      a.w3-bar-item.w3-button(href="/search") Pesquisa
      a.w3-bar-item.w3-button.w3-right(href="/logout") Logout
      if canAddAcordao
        a.w3-bar-item.w3-button(href="/registar/admin") Adicionar Admin
        a.w3-bar-item.w3-button(href="/users") Consultar Utilizadores
    .w3-container
      h2 Acordãos
        if canAddAcordao
          a.w3-button.w3-pink(href=`/acordaos/adicionar`, style="font-size: 15px; margin-left: 30px; padding: 5px 10px;") Adicionar acordão


      table.w3-table-all
        thead
          tr
            th Processo
            th Magistrado
            th Tribunal
            th Descritores
            th Data
            th Detalhes
            if canAddAcordao
              th Remover
              th Editar
        tbody
          each acordao in acordaos
            tr
              td= acordao.Processo
              td= acordao.Magistrado
              - const tribunal = tribunais.find(t => t._id === acordao.Tribunal)
              td= tribunal ? tribunal.name : acordao.Tribunal
              td= acordao.Descritores.join(', ')
              td= acordao.DataAcordao
              td
                a.w3-button.w3-blue(href=`/acordaos/${acordao._id}`) Ver
              if canAddAcordao 
                td
                  a.w3-button.w3-red(href=`/acordaos/remover/${acordao._id}`) Remover
                td
                  a.w3-button.w3-pink(href=`/acordaos/editar/${acordao._id}`) Editar

    // Pagination
    .w3-center
      - const totalPages = Math.ceil(total / limit)
      if totalPages > 1
        .w3-bar
          if page > 1
            a.w3-button(href=`?page=${page - 1}&limit=${limit}`) «
          else
            a.w3-button.w3-disabled «

          - const startPage = Math.max(1, page - 2)
          - const endPage = Math.min(totalPages, page + 2)
          each num in [...Array(endPage - startPage + 1).keys()].map(n => n + startPage)
            if num === page
              a.w3-button.w3-pink= num
            else
              a.w3-button(href=`?page=${num}&limit=${limit}`)= num

          if endPage < totalPages - 1
            span.w3-button.w3-hover-none(...) ... 

          if endPage < totalPages
            form(action="/home", method="get", class="w3-inline w3-container w3-center", style="display: inline-block; margin: 0; padding: 0; width: auto;")
              input.w3-input(type="number", name="page", min="1", max=totalPages, placeholder="", style="width: 70px; display: inline-block;")
              input(type="hidden", name="limit", value=limit)
              button.w3-button.w3-green(type="submit", style="display: inline-block; padding: 6px 12px;") Go

          if endPage < totalPages
            a.w3-button(href=`?page=${totalPages}&limit=${limit}`)= totalPages

          if page < totalPages
            a.w3-button(href=`?page=${page + 1}&limit=${limit}`) »
          else
            a.w3-button.w3-disabled »

    script.
      document.querySelectorAll('.w3-hover-none').forEach(function(ellipsis) {
        ellipsis.addEventListener('click', function() {
          ellipsis.nextElementSibling.style.display = 'inline-block';
        });
      });
