extends layout

block content
  
    link(rel="stylesheet", href="https://www.w3schools.com/w3css/4/w3.css")

    .w3-bar.w3-pink
      a.w3-bar-item.w3-button(class=(activePage === 'home' ? 'w3-gray' : ''), href="/home") Home
      a.w3-bar-item.w3-button(class=(activePage === 'tribunais' ? 'w3-gray' : ''), href="/tribunais") Tribunais
      a.w3-bar-item.w3-button(class=(activePage === 'taxonomia' ? 'w3-gray' : ''), href="/taxonomia") Taxonomia
      a.w3-bar-item.w3-button(class=(activePage === 'favoritos' ? 'w3-gray' : ''), href="/favoritos") Favoritos
      a.w3-bar-item.w3-button(class=(activePage === 'perfil' ? 'w3-gray' : ''), href="/perfil") Perfil
      a.w3-bar-item.w3-button(class=(activePage === 'search' ? 'w3-gray' : ''), href="/search") Pesquisa
      a.w3-bar-item.w3-button.w3-right(href="/logout") Logout
      if isAdmin
        a.w3-bar-item.w3-button(class=(activePage === 'registar/admin' ? 'w3-gray' : ''), href="/registar/admin") Adicionar Admin
        a.w3-bar-item.w3-button(class=(activePage === 'users' ? 'w3-gray' : ''), href="/users") Consultar Utilizadores

    .w3-container.w3-padding
      button.w3-button.w3-pink.w3-border(type="button", onclick="window.history.back()") ⬅ Voltar


    .w3-card-4
      .w3-container.w3-pink
        h2 Acordão #{acordao.Processo}

      .w3-container
        ul
          each campo in campos
            - const isMatchingField = acordao.hasOwnProperty(campo.NomeFixed)
            if isMatchingField
              li
                strong #{campo.Nome}:
                if campo.Nome == 'Tribunal'
                  - const tribunal = tribunais.find(t => t._id === acordao[campo.NomeFixed])
                  | #{tribunal ? tribunal.name : acordao[campo.NomeFixed]}
                else
                  | #{acordao[campo.NomeFixed]}

    .w3-container.w3-center
      if !favourites.some(fav => fav._id === acordao._id)
        button.w3-button.w3-green(type="button", onclick="document.getElementById('addFavModal').style.display='block'") Add to Favorites
      else
        form(action=`/users/${userId}/favoritos/${acordao._id}/delete`, method="post")
          input(type="hidden", name="_method", value="delete")
          button.w3-button.w3-red(type="submit") Remover dos Favoritos
      if isAdmin
        a.w3-button.w3-red(href=`/acordaos/remover/${acordao._id}`) Remover acordão
        a.w3-button.w3-pink(href=`/acordaos/editar/${acordao._id}`) Editar acordão
      button.w3-button.w3-blue(type="button", onclick=`downloadJSON("${acordao._id}")`) Download JSON

    // Modal for adding to favorites
    .w3-modal(id="addFavModal")
      .w3-modal-content
        .w3-container
          span.w3-button.w3-display-topright(onclick="document.getElementById('addFavModal').style.display='none'") &times;
          h2 Adicionar Favoritos
          form(action=`/users/${userId}/favoritos`, method="post")
            input(type="hidden", name="favorito", value=acordao._id)
            p
              label(for="comment") Comentário:
              textarea.w3-input(name="comment")
            button.w3-button.w3-green(type="submit") Submeter

    script.
      // Close the modal when clicking outside of it
      window.onclick = function(event) {
        if (event.target == document.getElementById('addFavModal')) {
          document.getElementById('addFavModal').style.display = 'none';
        }
      };

      // Download JSON function
      function downloadJSON(acordaoId) {
        console.log(`Downloading JSON for Acordao ID: ${acordaoId}`); // Debugging log
        fetch(`/acordaos/download/${acordaoId}`)
          .then(response => {
            if (!response.ok) {
              throw new Error(`HTTP error! Status: ${response.status}`);
            }
            return response.json();
          })
          .then(data => {
            const blob = new Blob([JSON.stringify(data, null, 2)], { type: 'application/json' });
            const url = URL.createObjectURL(blob);
            const a = document.createElement('a');
            a.href = url;
            a.download = `acordao_${acordaoId}.json`;
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
            URL.revokeObjectURL(url);
          })
          .catch(error => console.error('Error downloading JSON:', error));
      }
