doctype html
html
  head
    title Acordão
    link(rel="stylesheet", href="https://www.w3schools.com/w3css/4/w3.css")
  body(class="w3-container")
    .w3-bar.w3-pink
      a.w3-bar-item.w3-button(class=(activePage === 'home' ? 'w3-gray' : ''), href="/home") Home
      a.w3-bar-item.w3-button(class=(activePage === 'tribunais' ? 'w3-gray' : ''), href="/tribunais") Tribunais
      a.w3-bar-item.w3-button(class=(activePage === 'taxonomia' ? 'w3-gray' : ''), href="/taxonomia") Taxonomia
      a.w3-bar-item.w3-button(class=(activePage === 'favoritos' ? 'w3-gray' : ''), href="/favoritos") Favoritos
      a.w3-bar-item.w3-button(class=(activePage === 'perfil' ? 'w3-gray' : ''), href="/perfil") Perfil
      a.w3-bar-item.w3-button(class=(activePage === 'search' ? 'w3-gray' : ''), href="/search") Search
      a.w3-bar-item.w3-button.w3-right(href="/logout") Logout
      if isAdmin
        a.w3-bar-item.w3-button(class=(activePage === 'registar/admin' ? 'w3-gray' : ''), href="/registar/admin") Adicionar admin
        a.w3-bar-item.w3-button(class=(activePage === 'users' ? 'w3-gray' : ''), href="/users") Consultar Utilizadores

    .w3-container.w3-padding
      button.w3-button.w3-pink.w3-border(type="button", onclick="window.history.back()") ⬅ Voltar

    h1(class="w3-center") Acordão
    .w3-card-4
      .w3-container.w3-teal
        h2 #{acordao.Processo}

      .w3-container
        ul
          each campo in campos
            - const isMatchingField = acordao.hasOwnProperty(campo.NomeFixed)
            if isMatchingField
              li
                strong #{campo.Nome}:
                if campo.Nome == 'Tribunal'
                  - const tribunal = tribunais.find(t => t._id === acordao[campo.NomeFixed])
                  | #{tribunal ? tribunal.name : acordao[campo.NomeFixed]}
                else
                  | #{acordao[campo.NomeFixed]}

    .w3-container.w3-center
      if !favourites.some(fav => fav._id === acordao._id)
        button.w3-button.w3-green(type="button", onclick="document.getElementById('addFavModal').style.display='block'") Add to Favorites
      else
        form(action=`/users/${userId}/favoritos/${acordao._id}/delete`, method="post")
          input(type="hidden", name="_method", value="delete")
          button.w3-button.w3-red(type="submit") Remove from Favorites
      if isAdmin
        a.w3-button.w3-red(href=`/acordaos/remover/${acordao._id}`) Remover acordão
        a.w3-button.w3-pink(href=`/acordaos/editar/${acordao._id}`) Editar acordão

    // Modal for adding to favorites
    .w3-modal(id="addFavModal")
      .w3-modal-content
        .w3-container
          span.w3-button.w3-display-topright(onclick="document.getElementById('addFavModal').style.display='none'") &times;
          h2 Add to Favorites
          form(action=`/users/${userId}/favoritos`, method="post")
            input(type="hidden", name="favorito", value=acordao._id)
            p
              label(for="comment") Comment:
              textarea.w3-input(name="comment")
            button.w3-button.w3-green(type="submit") Submit

    script.
      // Close the modal when clicking outside of it
      window.onclick = function(event) {
        if (event.target == document.getElementById('addFavModal')) {
          document.getElementById('addFavModal').style.display = 'none';
        }
      };
