extends layout

block content
  body
    .w3-bar.w3-pink
      a.w3-bar-item.w3-button(href="/home") Home
      a.w3-bar-item.w3-button(href="/tribunais") Tribunais
      a.w3-bar-item.w3-button(href="/taxonomia") Taxonomia
      a.w3-bar-item.w3-button(href="/favoritos") Favoritos
      a.w3-bar-item.w3-button(href="/perfil") Perfil
      a.w3-bar-item.w3-button.w3-gray(href="/search") Pesquisa
      a.w3-bar-item.w3-button.w3-right(href="/logout") Logout

      if isAdmin
        a.w3-bar-item.w3-button(href="/registar/admin") Adicionar Admin
        a.w3-bar-item.w3-button(href="/users") Consultar Utilizadores

  .w3-container.w3-padding
    form(action="/search" method="GET" class="w3-container w3-card-4 w3-padding w3-light-grey form-container")
      fieldset.w3-padding
        legend.w3-text-pink.w3-large Pesquisar Acordão

        // Specific fields for search
        .w3-row.w3-padding-16
          label.w3-col.s3(for="Autor") Autor
          .w3-col.s9
            input.w3-input.w3-border(type="text" name="Autor" id="Autor" value=(query && query.Autor ? query.Autor : ''))

        .w3-row.w3-padding-16
          label.w3-col.s3(for="Tribunal") Tribunal
          .w3-col.s9
            select.w3-select.w3-border(name="Tribunal" id="Tribunal")
              option(value='') Selecione um Tribunal
              each tribunal in tribunais
                option(value=tribunal._id selected=(tribunal._id === query.Tribunal))= tribunal.name

        .w3-row.w3-padding-16
          label.w3-col.s3(for="Magistrado") Magistrado
          .w3-col.s9
            input.w3-input.w3-border(type="text" name="Magistrado" id="Magistrado" value=(query && query.Magistrado ? query.Magistrado : ''))

        .w3-row.w3-padding-16
          label.w3-col.s3(for="Descritor") Descritor
          .w3-col.s9
            input.w3-input.w3-border(type="text" name="Descritor" id="Descritor" value=(query && query.Descritor ? query.Descritor : ''))

        input(type="hidden", name="page", value=page || 1)
        input(type="hidden", name="limit", value=limit || 25)

      .w3-center
        button.w3-button.w3-pink.w3-margin-top(type="submit") Pesquisar

  if results && results.length > 0
    .w3-container.w3-padding
      h2 Resultados da Pesquisa
      table.w3-table-all
        thead
          tr
            th Processo
            th Magistrado
            th Tribunal
            th Descritores
            th Data
            th Detalhes
            if isAdmin
              th Remover
              th Editar
        tbody
          each result in results
            tr
              td= result.Processo
              td= result.Magistrado
              td= result.Tribunal
              td= result.Descritores.join(', ')
              td= result.DataAcordao
              td
                a.w3-button.w3-blue(href=`/acordaos/${result._id}`) Ver
              if isAdmin 
                td
                  a.w3-button.w3-red(href=`/acordaos/remover/${result._id}`) Remover
                td
                  a.w3-button.w3-pink(href=`/acordaos/editar/${result._id}`) Editar
    // Pagination
    .w3-center
      - const queryParams = new URLSearchParams(query || {}).toString();
      - const totalPages = Math.ceil(total / limit)
      if totalPages > 1
        .w3-bar
          if page > 1
            a.w3-button(href=`/search?page=${page - 1}&limit=${limit}&${queryParams}`) «
          else
            a.w3-button.w3-disabled «

          - const startPage = Math.max(1, page - 2)
          - const endPage = Math.min(totalPages, page + 2)
          each num in [...Array(endPage - startPage + 1).keys()].map(n => n + startPage)
            if num === page
              a.w3-button.w3-pink= num
            else
              a.w3-button(href=`/search?page=${num}&limit=${limit}&${queryParams}`)= num

          if endPage < totalPages - 1
            span.w3-button.w3-hover-none(...) ...

          if endPage < totalPages
            form(action="/search", method="get", class="w3-inline w3-container w3-center", style="display: inline-block; margin: 0; padding: 0; width: auto;")
              input.w3-input(type="number", name="page", min="1", max=totalPages, placeholder="Page", style="width: 70px; display: inline-block;")
              input(type="hidden", name="limit", value=limit)
              input(type="hidden", name="Autor", value=query && query.Autor ? query.Autor : '')
              input(type="hidden", name="Tribunal", value=query && query.Tribunal ? query.Tribunal : '')
              input(type="hidden", name="Magistrado", value=query && query.Magistrado ? query.Magistrado : '')
              input(type="hidden", name="Descritor", value=query && query.Descritor ? query.Descritor : '')
              button.w3-button.w3-green(type="submit", style="display: inline-block; padding: 6px 12px;") Go

          if endPage < totalPages
            a.w3-button(href=`/search?page=${totalPages}&limit=${limit}&${queryParams}`)= totalPages

          if page < totalPages
            a.w3-button(href=`/search?page=${page + 1}&limit=${limit}&${queryParams}`) »
          else
            a.w3-button.w3-disabled »

  script.
    document.querySelectorAll('.w3-hover-none').forEach(function(ellipsis) {
      ellipsis.addEventListener('click', function() {
        ellipsis.nextElementSibling.style.display = 'inline-block';
      });
    });
