extends layout

block content
    link(rel='stylesheet', href='/stylesheets/tribunais.css')

    .w3-bar.w3-pink
        a.w3-bar-item.w3-button(class=(activePage === 'home' ? 'w3-gray' : ''), href="/home") Home
        a.w3-bar-item.w3-button(class=(activePage === 'tribunais' ? 'w3-gray' : ''), href="/tribunais") Tribunais
        a.w3-bar-item.w3-button(class=(activePage === 'taxonomia' ? 'w3-gray' : ''), href="/taxonomia") Taxonomia
        a.w3-bar-item.w3-button(class=(activePage === 'favoritos' ? 'w3-gray' : ''), href="/favoritos") Favoritos
        a.w3-bar-item.w3-button(class=(activePage === 'perfil' ? 'w3-gray' : ''), href="/perfil") Perfil
        a.w3-bar-item.w3-button(class=(activePage === 'search' ? 'w3-gray' : ''), href="/search") Pesquisa
        a.w3-bar-item.w3-button.w3-right(href="/logout") Logout
        if canAddAcordao
            a.w3-bar-item.w3-button(class=(activePage === 'registar/admin' ? 'w3-gray' : ''), href="/registar/admin") Adicionar admin
            a.w3-bar-item.w3-button(class=(activePage === 'users' ? 'w3-gray' : ''), href="/users") Consultar Utilizadores

    .w3-container
        if canAddAcordao
            .w3-container
                a.w3-button.w3-green(href="/tribunais/adicionar") Adicionar Tribunal

        h2 Tribunais
        ul.w3-ul.w3-card-4
            each tribunal in tribunais
                li.w3-bar.tribunal-item
                    a.w3-bar-item.w3-button.w3-blue(href=`/search?Tribunal=${tribunal._id}`) #{tribunal.name}
                    if canAddAcordao
                        a.w3-bar-item.w3-button.w3-red.remove-button(onclick=`confirmDelete('${tribunal._id}', '${tribunal.name}')`) Remover

    script.
        function confirmDelete(id, name) {
            if (confirm(`Tem a certeza que deseja remover o tribunal ${name}?`)) {
                window.location.href = `/tribunais/remover/${id}`;
            }
        }
